.checkbox:not(:checked),
.checkbox:checked {
  position: absolute;
  left: -9999px;
}
.checkbox:not(:checked) + label,
.checkbox:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

.checkbox:not(:checked) + label:before,
.checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.75em;
  height: 1.75em;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.checkbox:not(:checked) + label:after,
.checkbox:checked + label:after {
  content: '✔';
  position: absolute;
  top: -.1em;
  left: .175em;
  font-size: 2.5em;
  line-height: 0.8;
  color: #37c859;
  transition: all .2s;
  font-family: Helvetica, Arial, sans-serif;
}

.checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.checkbox:checked:focus + label:before,
.checkbox:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

.checkbox + label:hover:before {
  border: 2px solid #4778d9!important;
}

.container {
    display: inline;
    vertical-align: top;
    margin-right: 11px;
}
